<% if (typeof nestedItems != 'undefined') { %>
<a href="#<%= route %>" data-toggle="collapse" data-target="#submenu-<%= order %>">
    <% if (typeof iconClass != 'undefined') { %>
    <i class="<%= iconClass %>"></i>
    <% } %> <span><%= title %></span>
</a>
<ul class="nav nav-stacked nav-pills sub-nav collapse" id="submenu-<%= order %>">
    <% _.each(nestedItems, function(item){ %>
    <li><a href="#<%= item.route %>">
        <% if (typeof item.iconClass != 'undefined') { %>
        <i class="<%= item.iconClass %>"></i>
        <% } %>
        <span><%= item.title %></span>
    </a>
    </li>
    <% });%>
</ul>
<% } else { %>
    <a href="#<%= route %>">
        <% if (typeof iconClass != 'undefined') { %>
        <i class="<%= iconClass %>"></i>
        <% } %>
        <span><%= title %> </span></a>
<% } %>