
<div class="error-container">
    <div class="error-code">404 <i class="fa fa-warning"></i></div>
    <div class="error-content">
        <div class="error-message">A rota que você acessou não foi encontrada...</div>
        <br/>
        <div class="error-desc">
            A página em: <code><%= window.location %></code> não existe. <br />
            Esta rota pode ter sido movida ou deletada.
        </div>
        <br/>
        <p>
            <a href="#" class="btn btn-primary">Navegar para home</a>
        </p>
    </div>
</div>