<div id="lockedScreen">

    <div id="lockscreen-container">
        <h2><i class="ion-ios-locked-outline "></i> Tela Bloqueada</h2>
        <form action="#" role="form" method="post" id="formUnlockScreen" autocomplete="off">
            <div style="margin-bottom: 25px" class="">
                <input id="password-unclock" type="password" class="form-control" name="password" placeholder="senha">
            </div>
            <button type="submit"><i class="ion-log-in"></i> Desbloquear</button>
        </form>
    </div>

</div>