<% if (typeof nestedItems != 'undefined') { %>
<a href="#<%= route %>">
    <% if (typeof iconClass != 'undefined') { %>
        <span class="icon <%= iconClass %>"></span><span class="title"><%= title %></span>
    <% } %>
</a>
<ul class="nav nav-stacked nav-pills sub-nav collapse" id="submenu-<%= order %>">
    <% _.each(nestedItems, function(item){ %>
    <li><a href="#<%= item.route %>">
        <% if (typeof item.iconClass != 'undefined') { %>
        <span class="<%= item.iconClass %>"></span>
        <% } %>
        <span><%= item.title %></span>
    </a>
    </li>
    <% });%>
</ul>
<% } else { %>
<a href="#">
    <span class="icon fa fa-tachometer"></span><span class="title"><%= title %></span>
</a>

<% } %>

