<td><%= id %></td>
<td><%= name %></td>

<td class="text-right">

    <a href="#employees/editar/<%= id %>"
       class="showModalCadastro btn btn-xs btn-info"
       data-id="<%= id %>"
       data-toggle="tooltip"
       data-placement="left"
       title="Alterar">
        <i class="ion-wrench"></i>
    </a>

    <% var deleteControl = (localStorage.getItem('uid') == id) ? 'disabled' : '' %>

    <a href="javascript:void(0)"
       class="btn btn-xs btn-danger <%if (deleteControl != 'disabled') {print('confirmDelete')}%>"
       data-toggle="tooltip"
       data-placement="left"
       title="<%if (deleteControl == 'disabled') {print('Este item não pode ser excluído.')} else {print('Excluir')} %> "
    <%= deleteControl %>
    data-id="<%= id %>">
    <i class="fa fa-trash-o"></i>
    </a>

</td>
